.add-route_form-item.MuiFormControl-root {
    display: block;
    margin: 20px 0;
}

.add-route_form-item div {
    width: 100%;
}

.add-route_form-error {
    color: brown;
    padding: 10px;
}

.add-route_btn-wrap {
    display: flex;
    justify-content: space-between;
}
